<div class="content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Asignación de materias</mat-card-title>
    </mat-card-header>
    <mat-selection-list #shoes>
      <mat-list-option *ngFor="let shoe of typesOfShoes">
        {{shoe}}
      </mat-list-option>
    </mat-selection-list>

    <p>
      Total materias asignadas: {{shoes.selectedOptions.selected.length}}
    </p>
  </mat-card>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit" (click)="notification()">Guardar</button>
    <button mat-stroked-button color="warn" routerLink="/teacher/teacher-list" routerLinkActive="active">Regresar</button>
    <span class="notificationSpan">{{ messageNotif }}</span>
  </mat-card-actions>
</div>