table {
    width: 100%;
    margin-top: 5px;
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
  padding-right: 25px;
}

.content{
  padding: 20px;
}
.btn-buttonsRight {
  text-align: center;
  width: 384px;
  padding-right: 0px !important;
}

.notificationSpan {
  font-size: 14px;
  color: green;
}

button{
  margin-right: 8px !important;
}