<form [formGroup]="studentForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Nuevo Profesor</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput maxlength="50" placeholder="Nombres" formControlName="Name">
            <mat-error *ngIf="studentForm.controls['Name'].hasError('required')">
              Nombres <strong>obligatorios</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput maxlength="50" placeholder="Apellidos" formControlName="LastName">
            <mat-error *ngIf="studentForm.controls['LastName'].hasError('required')">
              Apellidos <strong>obligatorios</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Tipo de identificación" formControlName="TypeId">
              <mat-option *ngFor="let idType of idTypes" [value]="idType.id">
                {{ idType.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="studentForm.controls['TypeId'].hasError('required')">
              Tipo de identificación <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput maxlength="10" placeholder="Nro. Identificación" formControlName="Identification">
            <mat-error *ngIf="studentForm.controls['Identification'].hasError('required')">
              Nro. Identificación <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Curso" formControlName="Grade">
              <mat-option *ngFor="let grade of grades" [value]="grade.id">
                {{ grade.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="studentForm.controls['Grade'].hasError('required')">
              Curso <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Jornada" formControlName="StudyDay">
              <mat-option *ngFor="let studyDay of studyDays" [value]="studyDay.id">
                {{ studyDay.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="studentForm.controls['StudyDay'].hasError('required')">
              Jornada <strong>obligatoria</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
      <button mat-stroked-button color="warn" routerLink="/teacher/teacher-list" routerLinkActive="active">Regresar</button>
    </mat-card-actions>
  </mat-card>
</form>